<div id="sidebar">
  <a href="/"><img src="/assets/images/catsat_logo2.png" alt=""></a>
  <p>DISCOVER & IDENTIFY:</p>

  <ul id="nav">
    <li><a href="/">Tag Natural Events</a></li>
    <li><a href="/vote/newest">Newest</a></li>
    <li><a href="/vote/mostvotes">Most Votes</a></li>
  </ul>

  <b>Challenge of the day</b>
  <p>Locate and tag a cloud shaped like a cat.</p>
  <p>Share your results.</p>

  <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
  <a href="http://facebook.com"><i class="fa fa-facebook-official"></i></a>
  <a href="http://vine.com"><i class="fa fa-vine"></i></a>

</div>
