<div id="tagsbar" >
  <img class="draggable-marker" id="cloud" src="assets/images/cloud_icon.png" alt="marker" />
  <img class="draggable-marker" id ="volcano" src="assets/images/volcano_icon.png" alt="marker" />
  <img class="draggable-marker" id ="mountain" src="assets/images/mountain_icon.png" alt="marker" />
  <img class="draggable-marker" id ="iceberg" src="assets/images/iceberg_icon.png" alt="marker" />
  <img class="draggable-marker" id ="fire" src="assets/images/fire_icon.png" alt="marker" />
  <img class="draggable-marker" id ="tsunami" src="assets/images/tsunami_icon.png" alt="marker" />
</div>